<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EHZReaderServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EHZReaderServer.Properties.Settings>
            <setting name="webserverPrefix" serializeAs="String">
                <value>http://localhost:8061/</value>
            </setting>
            <setting name="serialBaudrate" serializeAs="String">
                <value>57600</value>
            </setting>
            <setting name="ehzMeterDecimalPlaces" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ehzPowerDecimalPlaces" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chartUpdateInterval" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="chartDataCount" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="chartLabelEvery" serializeAs="String">
                <value>4</value>
            </setting>
        </EHZReaderServer.Properties.Settings>
    </userSettings>
</configuration>